
/*======================================== config =================================*/
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}


p {
  margin: 0px;
}

a {
  text-decoration: none; 
  color: #2e3750;
  transition: .3s all !important;
}

a:hover,
a:focus {
  text-decoration: none;
}

input {
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}
.img-fluid {
  max-width: 100%;
}
.w-100 {
  width: 100%;
}
html{
  //scroll-behavior: smooth;
  overflow-x: hidden;
  &.open_menu { 
    overflow: hidden;
  }
}
body {
  max-width: 100%;
  overflow-x: hidden;
  width: 100%;
  height: 100%;
  font-size: 14px;
  line-height: 1.4;
  font-family: 'Archivo';
  background: #fff;
  color: #000000;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  //transition: .3s all !important;
  outline: none !important;
}

/*======================================== end config =================================*/
.container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 15px;
}