$green: #1B5F4A;
$red: #D0021C;

.box-banner {
  position: relative;
  .service-bn {
    position: absolute;
    padding: 64px 0;
    width: 100%;
    left: 0;
    bottom: 0;
  }
}
.list-service {
  position: relative;
  background: #fff;
  box-shadow: 0px 24px 48px rgba(0, 0, 0, 0.05);
  border-radius: 24px;
  padding: 20px 0;
  text-align: center;
  color: #8A8A8A;
  text-transform: uppercase;
  font-weight: 300;
  font-size: 14px;
  h3 {
    font-weight: 900;
    font-size: 20px;
    color: $green;
  }
  ul {
    list-style: none;
    display: flex;
    justify-content: center;
    margin: 0 -15px;
    li {
      flex: 0 0 25%;
      max-width: 25%;
      padding: 0 15px;
      border-right: 0.25px solid #000000;
      &:last-child {
        border-right: 0;
      }
    }
  }
}
.icon-srv {
  display: flex;
  align-items: center;
  justify-content: center;
  .icon {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
  }
  p {
    position: relative;
    top: 2px;
  }
}
.box-banner-cate {
  padding: 40px 0;
}
.slide-banner-cate {
  margin: 0 -5px;
  .item-slide {
    padding: 0 5px;
  }
}
.title {
  margin-bottom: 40px;
  text-align: center;
  h2 {
    font-size: 64px;
    font-weight: 300;
    color: #fff;
    span {
      font-weight: 800;
    }
  }
}
.content-product {
  background: linear-gradient(180deg, #70C452 0%, #1B5F4A 100%);
  border-radius: 15px;
  padding: 40px 25px;
}
.slide-product {
  margin: 0 -12px;
  .item-slide {
    padding: 0 12px;
  }
}
.item-product {
  background: #fff;
  border-radius: 15px;
  overflow: hidden;
  .info {
    padding: 20px;
  }
}